.detailsBody {
  display: grid;
  grid-area: 1 / 1 / 4 / 2;
  grid-template-rows: subgrid;
}

// according to the internet the longest Pokemon name
// is Crabominable, which fits nicely in the name plate.
.namePlate {
  grid-area: 1 / 1 / 2 / 2;
  height: 1.75rem;

  h2 {
    margin: 0;
  }
}

.spriteContainer {
  grid-area: 2 / 1 / 3 / 2;
  background-image: url("../../resources/pokeball.svg");
  background-size: cover;
  background-position: center;
  height: 15rem;

  img {
    width: 100%;
  }

  &.fetching {
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

.infoPane {
  grid-area: 3 / 1 / 4 / 2;
  display: flex;
  padding: 0.25rem 1.25rem;
  align-items: center;
  justify-content: space-between;

  a {
    color: $black;
    text-decoration: none;
    border: 2px solid $darkGray;
    border-radius: 0.25rem;
    padding: 0 0.5rem;
    background-color: $lightGray;
    box-shadow: 2px 2px 0px 0px $gray;
  }
}

.namePlate,
.infoPane {
  border: 0.25rem solid $black;
  border-radius: 0.5rem;
  background: $white;
  background: linear-gradient(
    90deg,
    $red 0%,
    $red 5%,
    $lightRed 5%,
    $lightRed 7%,
    $white 7%,
    $white 93%,
    $lightRed 93%,
    $lightRed 95%,
    $red 95%,
    $red 100%
  );
  text-align: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
