.paneBody {
  grid-area: 2 / 2 / 4 / 3;

  margin: 0.25rem;
  margin-top: 0rem;
  outline: 0.25rem solid $black;
  border-left: 2rem solid $red;
  border-radius: 0.5rem;
  background-color: $white;

  input {
    width: calc(100% - 0.75rem); // 100% - border-left - padding
    border: none;
    border-bottom: 2px solid $black;
    border-left: 0.25rem solid $lightRed;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    padding: 0.25rem;

    &:focus,
    &:active {
      outline: none;
      box-shadow: 0 0.25rem 0 $darkestRed;
    }
  }

  ul {
    text-transform: capitalize;
    border-left: 0.25rem solid $lightRed;
    list-style-type: none;
    padding: 0;
    margin-top: 0;

    &.searchList {
      height: calc(100% - 1.75rem); // 100% - input height
    }

    &.historyList {
      height: 100%;
    }

    li {
      margin-top: 0.25rem;
      border: 0.25rem solid transparent;
      border-radius: 0.5rem;

      &.active {
        border-color: $red !important;
      }

      &:hover {
        border-color: $gray;
      }

      button {
        height: 100%;
        width: 100%;
        border: none;
        background: none;
        font: inherit;
        color: inherit;
        text-transform: inherit;
        padding: 0;
        text-align: left;

        &:hover:enabled {
          cursor: pointer;
        }
      }
    }
    overflow-y: auto;
  }
}
